# EAL CONF
## Extract memory (1=yes|0=no - default yes)
MEMORY=1
## Extract mem proc if all memory fail (1=yes|0=no - default yes)
MEM_PROC=1
## Extract file found by yara rules (1=yes|0=no - default yes)
YARA_EXTRACT_FILE=1
## Max size of file to scan with yara rules (10MB default value)
YARA_MAXSIZE="10MB"
## Path to check yara rules (default is "/")
YARA_PATHSCAN="/"
## Yar rules to check on FS
YARA_RULES_MEM="procscan.yar"
## Yar rules to check on MEM
YARA_RULES_FS="filescan.yar"
## Max size of file to extract found by yara rules, suspect proc, package integrity fail, ... (in MB)
EXTRACT_MAXSIZE=5
